<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
</head>
<body>

      <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file_key">File Key <span>(Specify the name for the uploaded file)</span></label>
                <input type="text" name="file_key" id="file_key" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="column_name">Column Name <span>(Specify the column to process)</span></label>
                <input type="text" name="column_name" id="column_name" class="form-control" required />
            </div>
            <div class="form-group file-area">
                <label for="file">CSV File <span>Your CSV file should be formatted properly</span></label>
                <input type="file" name="file" id="file" required="required" class="form-control"/>
                <div class="file-dummy">
                    <div class="success">Great, your file is selected. Keep on.</div>
                    <div class="default">Please select a CSV file to upload.</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit">Upload data to S3</button>
            </div>
        </form>
    
      <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
      
      <!-- <a href="http://scribblerockerz.com/drag-n-drop-file-input-without-javascript/" class="back-to-article" target="_blank">back to Article</a> -->
</body>
</html>
